.wrap{
    padding-top: 5vh;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 10vh; 
    .title{
        font-size: 1.3vw;
        font-family: 'Lato', sans-serif;
    }
}

.pen-gray{
    color: gray;
}

.pen-green{
    color: green;
} 

label{
    margin-left: 1.5vw;
}