<div class="wrap">
  <p class="title">Experience</p> 
  <!-- Vertical Steppers -->
  <div class="row mt-1" style="margin-left: 9vw;">
      <div class="col-md-12">
    
        <!-- Stepers Wrapper -->
        <ul class="stepper stepper-vertical">
    
          <!-- 1 -->
          <li class="completed">
            <a>
              <span class="circle">1</span>
              <span class="label">Academia Sinica ,  Institute of Information Science</span> 
            </a>
            <div class="step-content grey lighten-3">
              <p>
                Full year intern , 2019.09.09 ~ 2020.06.30 (fourth year of college)
              </p> 
            </div>
          </li>
    
          <!-- 2 -->
          <li class="active">
            <a>
              <span class="circle">2</span>
              <span class="label">Mandatory military service</span>
            </a>
            <div class="step-content grey lighten-3">
              <p>2020.12.01 ~ 2021.03.14</p> 
            </div>
          </li>

          <!-- 3 -->
          <li class="active">
            <a>
              <span class="circle">3</span>
              <span class="label">Mabow Co., Ltd.</span>
            </a>
            <div class="step-content grey lighten-3">
              <p>Front-end engineer , 2021.03.24 ~ Prensent</p> 
            </div>
          </li> 
 
          <!-- 4 -->
          <li>
            <a>
              <span class="circle"><mdb-icon fas icon="question"></mdb-icon></span>
              <span class="label" style="color: gray;">Future</span>
            </a>
            <div class="step-content grey lighten-3">
              <p class="pen-gray">Still long way ahead , But I'll get through it .</p> 
            </div>
          </li>

          <!-- 5 -->
          <li class="active">
            <a>
              <span class="circle" style="background-color: red !important;"><mdb-icon fas icon="star" ></mdb-icon></span>
              <span class="label">Goal</span>
            </a>
            <div class="step-content grey lighten-3">
              <p class="pen-green">Become The Person I Want To Be .</p> 
            </div>
          </li> 

    
        </ul>  
      </div>
  </div> 
</div>