<div class="wrap">
    <p class="title">Ray Yeh</p>

    <div class="profile-img" style="background-image: url('assets/slide-img/profile-img.jpg');"></div>

    <div class="nav">
        <a (click)="routeToSection(0)">Home</a>
        <a (click)="routeToSection(1)">About</a>
        <a (click)="routeToSection(2)">Experience</a>
        <a (click)="routeToSection(3)">Medium Post</a>
    </div>

    <div class="footer">
        <div class="contact-box">
            <mdb-icon far icon="envelope" class="mr-1"></mdb-icon>
            <div>LT1stSoloMID@gmail.com</div>
            <br>
        </div>
        <small>Copyright © 2021 Ray Yeh. All Rights Reserved</small>
    </div>

</div>
